.mui-content .getCode {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #006699;
}
.mui-content .login-now {
  display: block;
  margin-top: 20px;
  padding-right: 10px;
  text-align: right;
  font-size: 14px;
  color: #006699;
}
.mui-content .mui-btn {
  width: 120px;
}
.mui-content .mui-input-row label {
  font-size: 14px;
}
.mui-content input {
  font-size: 14px;
}
